<section class="section-about-us" id="about">
  <div class="container-about">
    <div class="team-about">
      <picture>
        <source
          srcset="
            /img/about-us/mob/about-us@1x.webp 1x,
            /img/about-us/mob/about-us@2x.webp 2x
          "
          media="(max-width: 767px)"
        />
        <source
          srcset="
            /img/about-us/tablet/about-us@1x.webp 1x,
            /img/about-us/tablet/about-us@2x.webp 2x
          "
          media="(min-width: 768px) and (max-width: 1439px)"
        />
        <source
          srcset="
            /img/about-us/desktop/about-us@1x.webp 1x,
            /img/about-us/desktop/about-us@2x.webp 2x
          "
          media="(min-width: 1440px)"
        />
        <img
          src="/img/about-us/mob/about-us@1x.webp"
          alt="Team ArtistsHub"
          class="team-foto"
        />
      </picture>
    </div>
    <div class="text-container">
      <svg class="logo-about">
        <use href="/img/sprite.svg#logo-icon"></use>
      </svg>
      <h2 class="h-text">About ArtistsHub</h2>
      <p class="p-text">
        At ArtistsHub, our mission is to connect music lovers with the artists
        they adore. We strive to create a vibrant community where discovering
        new music is as enjoyable as listening to it.
      </p>
    </div>
  </div>
</section>
