<section class="section-artists" id="section-artists">
  <div class="container">
    <h3 class="artists-title">Artists</h3>
    <h2 class="artists-subtitle">Explore Your New Favorite Artists</h2>
    <div class="artists-content-wrapper">
      <div class="artists-filters-wrapper">
        <div class="filters-menu-container">
          <div class="filters-menu-title">
            <span>Filters</span>
            <button class="filters-reset-btn">Reset</button>
          </div>
          <button class="filters-menu-btn">
            <span>Search and Filters</span>
            <svg class="filters-menu-icon">
              <use href="/img/sprite.svg#icon-arrow"></use>
            </svg>
          </button>
        </div>
        <div class="filters-form-container">
          <button class="filters-reset-btn-mob">Reset</button>
          <form class="filters-form">
            <div class="search-group">
              <button class="filters-search-btn">
                <svg class="search-icon">
                  <use href="/img/sprite.svg#search-icon"></use>
                </svg>
              </button>
              <input type="text" name="search-input" class="filters-search-input" placeholder="Search" required>
            </div>
          </form>
          <div class="filters-dropdown">
            <button class="filters-menu-sorting-btn" data-sorting-button>
              <span>Sorting</span>
              <svg class="filters-menu-icon filters-sorting-icon">
                <use href="/img/sprite.svg#icon-arrow"></use>
              </svg>
            </button>
            <ul class="filters-form-buttons" id="sorting-select">
              <li><button class="filters-option">Default</button></li>
              <li><button class="filters-option" data-filters-asc>A-Z</button></li>
              <li><button class="filters-option" data-filters-desc>Z-A</button></li>
            </ul>
          </div>
          <div class="filters-dropdown">
            <button class="filters-menu-sorting-btn" data-genre-button>
              <span>Genre</span>
              <svg class="filters-menu-icon filters-genre-icon">
                <use href="/img/sprite.svg#icon-arrow"></use>
              </svg>
            </button>
            <ul class="filters-form-buttons" id="genre-select"></ul>
          </div>
        </div>
      </div>
      <div class="artists-content">
        <div class="artists-wrapper">
          <ul class="artists-list"></ul>
          <div class="artists-loader"></div>
        </div>
        <div id="artists-pagination" class="artists-pagination"></div>
        <div class="artists-empty-state is-hidden">
          <!-- empty state -->
          <div class="empty-icon-title">
            <svg class="empty-icon filters-sorting-icon">
              <use href="/img/sprite.svg#error-icon"></use>
            </svg>
            <p class="empty-title">Silence on the stage…</p>
          </div>
          <p class="empty-subtitle">
            Looks like no artists match your filters.<br />
            Try changing them or hit “Reset Filters” to bring back the beat.
          </p>
          <button class="filters-reset-btn empty-reset-btn">
            Reset filters
          </button>
        </div>
      </div>

    </div>
</section>