<footer class="footer">
  <div class="container con-footer">
    <div>

      <a href="./index.html">
        <svg class="logo-icon-footer">
          <use href="/img/sprite.svg#icon-logo"></use>
        </svg>
      </a>

      <ul class="ul-anchors">
        <li>
          <a href="#section-artists" class="a-footer">Artists</a>
        </li>
        <li>
          <a href="#about" class="a-footer">About us</a>
        </li>
        <li>
          <a href="#reviews" class="a-footer">Reviews</a>
        </li>
      </ul>

      <div>
        <p class="p-allrights">© 2025 ArtistsHub. All rights reserved.</p>
        <ul class="ul-icons-footer">
          <li>
            <a href="https://www.instagram.com/">
              <svg class="icon-footer">
                <use href="/img/sprite.svg#instagram-icon"></use>
              </svg>
            </a>
          </li>
          <li>
            <a href="https://www.facebook.com/">
              <svg class="icon-footer">
                <use href="/img/sprite.svg#facebook-icon"></use>
              </svg>
            </a>
          </li>
          <li>
            <a href="https://www.youtube.com/">
              <svg class="icon-footer">
                <use href="/img/sprite.svg#youtube-icon"></use>
              </svg>
            </a>

          </li>
        </ul>

      </div>
    </div>
  </div>
</footer>