<header class="header">
  <div class="container">
     <nav class="nav">
            <a href="./index.html" class="nav-logo">
      <svg class="logo-icon">
        <use href="./images/sprite.svg#logo-icon"></use>
      </svg>
    </a>
<ul class="nav-list">
    <li><a href="./index.html" class="nav-link">Artists</a></li>
    <li><a href="#" class="nav-link">About Us</a></li>
    <li><a href="#" class="nav-link">Reviews</a></li>
</ul>
<!-- Бургер-меню -->
<button class="burger-menu" type="button">
    <svg class="burger-menu-icon" width="24" height="24">
        <use href="./images/icons.svg#burger-menu"></use>
    </svg>
</button>
    </div>
  </div>
</header>
