<section class="section-hero">
  <div class="container">
    <h1 class="hero-title">Discover Your Next Favorite Artist Today</h1>
    <p class="hero-subtitle">
      Dive into a world of music discoveries with ArtistsHub - your personal
      guide to the boundless universe of sound. Explore, filter, and learn about
      your favorite artists all in one place.
    </p>
    <a href="#section-artists" class="hero-link"
      >Explore Artists
      <svg class="hero-link-svg" width="24" height="24">
        <use href="/"></use>
      </svg>
    </a>
    <div class="hero-artists-img">
      <div class="artist a1"></div>
      <div class="artist a2"></div>
      <div class="artist a3"></div>
      <div class="artist a4"></div>
      <div class="artist a5"></div>
    </div>
  </div>
</section>
