.section-about-us {
  position: relative;
  background-color: var(--bg-main);
  min-width: 320px;
}

.container-about {
  padding: 64px 16px;
  position: relative;
  overflow: hidden;
  gap: 48px;
  width: 320px;
  margin: 0 auto;
}
.text-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.team-about {
  overflow: hidden;
  border-radius: 16px;
  margin-bottom: 48px;
}

.team-foto {
  display: block;
  width: 100%;
  height: auto;

  object-fit: cover;
}

.logo-about {
  width: 64px;
  height: 64px;
  fill: var(--text-main);
}

.h-text {
  font-family: 'Epilogue', sans-serif;
  font-weight: 700;
  font-size: 44px;

  color: var(--text-main);
  line-height: 1.2;
}

.p-text {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  color: var(--text-main);
}

@media screen and (min-width: 768px) {
  .container-about {
    padding: 64px 32px;
    gap: 24px;
    width: 768px;
  }
  .team-about {
    margin-bottom: 24px;
  }
  .team-foto {
    max-width: 704px;
    display: block;
    margin: 0 auto;
  }

  .text-container {
    gap: 24px;
    max-width: 704px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }
  .logo-about {
    width: 80px;
    height: 80px;
  }
  .h-text {
    font-size: 44px;
  }
  .p-text {
    font-size: 20px;
  }
}

@media screen and (min-width: 1440px) {
  .container-about {
    padding: 112px 64px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 32px;
    width: 1440px;
  }
  .text-container {
    max-width: 640px;
    margin: 0;
  }
  .h-text {
    font-size: 60px;
  }
}
