.section-artists {
  display: flex;
  flex-wrap: wrap;
  background-color: #060307;
  min-width: 320px;
  padding: 64px 0;

  .artists-title {
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
  }

  .artists-subtitle {
    margin-top: 16px;
    margin-bottom: 32px;
    font-family: 'Epilogue', sans-serif;
    font-weight: 700;
    font-size: 44px;
    line-height: 120%;
    letter-spacing: -0.01em;
  }

  .artists-list {
    display: flex;
    flex-direction: column;
    gap: 64px;
  }

  .artist-image {
    width: 100%;
    height: 177px;
    object-fit: cover;
    object-position: top;
    border-radius: 16px;
  }

  .genres-list {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    margin-top: 24px;
    padding: 0;
    list-style: none;

    .genres-list-item {
      border: 1px solid rgba(255, 255, 255, 0.2);
      background-color: rgba(255, 255, 255, 0);
      border-radius: 6px;
      padding: 4px 10px;
      font-family: 'IBM Plex Sans', sans-serif;
      font-weight: 600;
    }
  }

  .artist-name {
    margin-top: 16px;
    font-family: 'Epilogue', sans-serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 130%;
    letter-spacing: -0.01em;
    color: #fff;
  }

  .artist-descr {
    margin-top: 8px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;

    /* fallback */
    text-overflow: ellipsis;
    overflow: hidden;
    max-height: calc(1.5em * 2);
    line-height: 1.5em;
  }

  .artist-btn-learn-more {
    display: flex;
    align-items: center;
    margin-top: 24px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    color: #fff;
    background-color: transparent;
    outline: none;
    border: none;
    transition:
      color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus,
    &:active {
      opacity: 0.6;
    }

    .artist-learn-svg {
      margin-left: 8px;
      stroke: #fff;
      fill: #fff;
      transition:
        stroke 250ms cubic-bezier(0.4, 0, 0.2, 1),
        fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  }

  @media only screen and (min-width: 768px) {
    .artists-list {
      gap: 32px;
    }

    .artist-image {
      height: 432px;
    }
  }

  @media only screen and (min-width: 1440px) {
    padding: 112px 0;

    .artists-list {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
    }

    .artists-subtitle {
      max-width: 523px;
      font-size: 60px;
      margin-bottom: 80px;
    }

    .artists-list-item {
      width: calc((100% - 32px) / 2);
    }

    .artist-image {
      height: 393px;
    }
  }

  .artists-pagination {
    .tui-page-btn {
      &.tui-last,
      &.tui-first {
        display: none;
      }
    }

    .pagination-left-icon,
    .pagination-right-icon {
      width: 24px;
      height: 24px;
      fill: #fff;
    }
  }
}

.artists-pagination {
  display: flex;
  justify-content: center;
  margin-top: 32px;
}

.artists-pagination .tui-page-btn {
  width: 47px;
  height: 47px;
  font-size: 18px;
  line-height: 47px;
  text-align: center;
  border-radius: 8px;
  margin: 0 4px;
  background: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.artists-pagination .tui-is-selected {
  width: 59px;
  background-color: rgba(255, 255, 255, 0.1);
  font-weight: 600;
}

.artists-pagination .tui-prev.tui-is-disabled,
.artists-pagination .tui-next.tui-is-disabled {
  opacity: 0.4;
  cursor: default;
}

.artists-wrapper {
  position: relative;
}
