.section-artists {
  display: flex;
  flex-wrap: wrap;
  background-color: var(--bg-main);
  min-width: 320px;
  padding: 64px 0;
  transition: background-color 0.4s ease;

  .artists-title {
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
  }

  .artists-subtitle {
    margin-top: 16px;
    margin-bottom: 32px;
    font-family: 'Epilogue', sans-serif;
    font-weight: 700;
    font-size: 44px;
    line-height: 120%;
    letter-spacing: -0.01em;
  }

  .artists-list {
    display: flex;
    flex-direction: column;
    gap: 64px;
  }

  .artist-image {
    width: 100%;
    height: 177px;
    object-fit: cover;
    object-position: top;
    border-radius: 16px;
  }

  .artists-pagination {
    .tui-page-btn {

      &.tui-last,
      &.tui-first {
        display: none;
      }
    }

    &.is-hidden {
      display: none;
    }
  }

  .artists-pagination {
    .tui-page-btn {

      &.tui-last,
      &.tui-first {
        display: none;
      }
    }

    .pagination-left-icon,
    .pagination-right-icon {
      width: 24px;
      height: 24px;
      fill: var(--text-main);
    }
  }

  .artists-pagination .tui-page-btn.tui-first,
  .artists-pagination .tui-page-btn.tui-last {
    display: none;
  }

  .artists-pagination .pagination-left-icon,
  .artists-pagination .pagination-right-icon {
    width: 24px;
    height: 24px;
    fill: var(--text-main);
  }

  .artists-pagination {
    display: flex;
    justify-content: center;
    margin-top: 32px;
  }

  .artists-pagination .tui-page-btn {
    width: 47px;
    height: 47px;
    font-size: 18px;
    line-height: 47px;
    text-align: center;
    border-radius: 8px;
    margin: 0 4px;
    background: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .artists-pagination .tui-is-selected {
    width: 59px;
    background-color: var(--bg-selected);
    font-weight: 600;
  }

  .artists-pagination .tui-prev.tui-is-disabled,
  .artists-pagination .tui-next.tui-is-disabled {
    opacity: 0.4;
    cursor: default;
  }

  .genres-list {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    margin-top: 24px;
    padding: 0;
    list-style: none;
  }

  .artist-descr {
    margin-top: 8px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }

  .genres-list-item {
    border: 1px solid var(--genre-chip);
    background-color: var(--bg-main);
    border-radius: 6px;
    padding: 4px 10px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 600;
    transition: all 0.4s ease;
  }

  .artist-name {
    margin-top: 16px;
    font-family: 'Epilogue', sans-serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 130%;
    letter-spacing: -0.01em;
    color: var(--text-main);
    transition: all 0.4s ease;
  }

  .artist-btn-learn-more {
    display: flex;
    align-items: center;
    margin-top: 24px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    color: var(--text-main);
    background-color: transparent;
    outline: none;
    border: none;
    transition:
      color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .artist-descr {
    margin-top: 8px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;

    /* fallback */
    text-overflow: ellipsis;
    overflow: hidden;
    max-height: calc(1.5em * 2);
    line-height: 1.5em;
  }

  .artist-btn-learn-more {
    display: flex;
    align-items: center;
    margin-top: 24px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    color: var(--text-main);
    background-color: transparent;
    outline: none;
    border: none;
    transition:
      color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus,
    &:active {
      opacity: 0.6;

      .artist-learn-svg {
        margin-left: 8px;
        stroke: var(--text-main);
        fill: var(--text-main);
        transition:
          stroke 250ms cubic-bezier(0.4, 0, 0.2, 1),
          fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
      }
    }

    .artist-learn-svg {
      margin-left: 8px;
      stroke: var(--text-main);
      fill: var(--text-main);
      transition:
        stroke 250ms cubic-bezier(0.4, 0, 0.2, 1),
        fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  }

  .artists-filters-wrapper {
    position: relative;
  }

  .filters-form-container {
    position: absolute;
    right: 0;
    margin-top: -16px;
    max-height: 0;
    width: 288px;
    background-color: var(--filters-background);
    border-radius: 12px;
    padding: 0;
    overflow: hidden;
    z-index: 1000;
    transition:
      max-height 250ms cubic-bezier(0.4, 0, 0.2, 1),
      opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
      padding 250ms cubic-bezier(0.4, 0, 0.2, 1),
      overflow 250ms cubic-bezier(0.4, 0, 0.2, 1),
      background 0.4s ease;

    &.is-open {
      max-height: 737px;
      padding: 12px;
      overflow: auto;
    }

    .filters-search-input {
      margin: 0;
      padding: 10px 10px 10px 48px;
      font-weight: 400;
      font-size: 18px;
      line-height: 150%;
      background-color: rgba(255, 255, 255, 0);
      border: 1px solid var(--filters-border);
      border-radius: 12px;

      transition:
        border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

      &:focus,
      &:hover,
      &:active {
        border-color: var(--text-main);
      }

      &::placeholder {
        opacity: 0.6;
      }
    }

    .filters-form-buttons {
      font-size: 18px;
      border: none;
      display: flex;
      flex-direction: column;
      padding: 0;
      width: 100%;
      list-style: none;
      max-height: 0;
      overflow: hidden;
      z-index: 1000;
      transition:
        max-height 250ms cubic-bezier(0.4, 0, 0.2, 1),
        padding 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1);

      &.is-open {
        padding: 16px 0;
        max-height: 376px;
        border: 1px solid var(--filters-border);
        border-radius: 0 0 12px 12px;
      }
    }

    .filters-menu-sorting-btn,
    .filters-option {
      font-size: 18px;
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: space-between;
      background-color: rgba(255, 255, 255, 0);
      outline: none;
      border: none;
      color: var(--text-main);
      border-radius: 12px;
      transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

      &:hover,
      &:focus,
      &:active {
        opacity: 0.6;
      }

      &.is-open {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
      }
    }

    .filters-menu-sorting-btn {
      margin-top: 12px;
      padding: 8px 12px;
      border: 1px solid var(--filters-border);
    }

    .filters-option {
      padding: 8px 24px;
    }

    #genre-select {
      overflow-y: auto;

      &::-webkit-scrollbar {
        width: 5px;
      }

      &::-webkit-scrollbar-track {
        background: var(--border-color);
      }

      &::-webkit-scrollbar-thumb {
        background: var(--star);
        border-radius: 5px;
        min-height: 40px;
      }
    }

    .filters-dropdown {
      position: relative;
      width: 100%;
    }

    .search-group {
      position: relative;
      display: flex;
      align-items: center;

      button {
        position: absolute;
        left: 12px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba(255, 255, 255, 0);
        border: none;
        outline: none;
        transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:hover,
        &:focus,
        &:active {
          opacity: 0.6;
        }
      }
    }
  }

  .filters-menu-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    overflow: hidden;
    margin-bottom: 16px;
  }

  .filters-menu-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
    margin-top: 12px;
    padding: 10px 51px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.5;
    color: var(--text-main);
    background-color: var(--bg-selected);
    border-radius: 12px;
    cursor: pointer;
    outline: none;
    border: none;
    transition:
      background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
      color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      opacity: 0.6;
    }

    a {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .filters-menu-icon,
  .search-icon {
    width: 24px;
    height: 24px;
    fill: var(--text-main);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .filters-menu-icon {
    &.is-open {
      transform: rotate(180deg);
      transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  }

  .filters-menu-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 700;
    font-size: 18px;
    max-width: 304px;

    button {
      font-weight: 500;
      color: var(--text-main);
      text-decoration: underline;
      background-color: rgba(255, 255, 255, 0);
      border: none;
      outline: none;
      transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
      display: none;

      &:hover,
      &:focus,
      &:active {
        opacity: 0.6;
      }
    }
  }

  .artists-wrapper {
    position: relative;
  }

  .artists-empty-state {
    display: flex;
    flex-direction: column;
    padding: 16px;
    background-color: var(--bg-hero);
    border-radius: 16px;
    transition: all 0.4s ease;

    .empty-icon {
      width: 40px;
      height: 40px;
      fill: var(--text-main);
    }

    .empty-title {
      font-weight: 700;
      font-size: 32px;
      line-height: 1.2;
      letter-spacing: -0.01em;
      color: var(--text-main);
      margin: 24px 0;
    }

    .empty-subtitle {
      font-weight: 400;
      font-size: 20px;
      line-height: 1.5;
      color: var(--text-main);
      margin-bottom: 24px;
    }

    .empty-reset-btn {
      border-radius: 12px;
      padding: 10px 24px;
      width: 256px;
      height: 47px;
      box-shadow:
        0 1px 2px 0 rgba(6, 3, 7, 0.05),
        inset 0 -2px 1px 0 rgba(0, 0, 0, 0.2),
        inset 0 0 0 1px rgba(6, 3, 7, 0.15),
        inset 0 2px 1px 0 rgba(255, 255, 255, 0.25),
        inset 0 32px 24px 0 rgba(255, 255, 255, 0.05);
      font-weight: 500;
      font-size: 18px;
      line-height: 1.5;
      color: #fff;
      background-color: var(--star);
      border: none;
      transition: opacity 0.25s ease;
    }

    .empty-reset-btn:hover,
    .empty-reset-btn:focus {
      opacity: 0.6;
    }

    &.is-hidden {
      display: none;
    }
  }

  .filters-reset-btn-mob {
    background: none;
    border: none;
    color: var(--text-main);
    font-weight: 600;
    font-size: 12px;
    line-height: 1.5;
    text-decoration: underline;
    cursor: pointer;
    transition: opacity 0.2s ease;
    margin-left: 225px;
    margin-bottom: 12px;
  }

  @media only screen and (min-width: 768px) {
    .artists-list {
      gap: 32px;
    }

    .artist-image {
      height: 432px;
    }

    .filters-menu-container {
      flex-direction: row;
      align-items: center;
      margin-bottom: 16px;
    }

    .filters-menu-btn {
      padding: 10px 24px;
      width: 233px;
      margin-top: 0;
      font-weight: 500;
      font-size: 18px;
      line-height: 1.5;
    }

    .filters-form-container {
      width: 304px;
    }

    .filters-reset-btn-mob {
      margin-left: 240px;
    }

    .artists-empty-state {
      padding: 32px;

      .empty-title {
        font-weight: 700;
        font-size: 48px;
        line-height: 1.2;
        letter-spacing: -0.01em;
      }

      .empty-reset-btn {
        border-radius: 12px;
        padding: 10px 24px;
        width: 148px;
        height: 47px;
        font-weight: 500;
        font-size: 18px;
        line-height: 1.5;
      }
    }
  }

  @media only screen and (min-width: 1440px) {
    padding: 112px 0;

    .artists-list {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
    }

    .artists-subtitle {
      max-width: 523px;
      font-size: 60px;
      margin-bottom: 80px;
    }

    .artists-list-item {
      width: calc((100% - 32px) / 2);
    }

    .artist-image {
      height: 393px;
    }

    .filters-form-container {
      max-height: 701px;
      padding: 12px;
      overflow: auto;
      right: inherit;
      margin-top: 0;
      background-color: var(--bg-main);
    }

    .filters-menu-btn {
      display: none;
    }

    .artists-content-wrapper {
      display: flex;
      gap: 32px;
      justify-content: space-between;
    }

    .artists-content {
      max-width: 976px;
    }

    .filters-menu-title {
      width: 100%;
      padding: 0 12px;

      button {
        display: block;
      }
    }

    .filters-reset-btn-mob {
      display: none;
    }

    .filters-menu-container {
      margin-bottom: 0;
    }

    .artists-filters-wrapper {
      width: 100%;
    }

    .artists-empty-state {
      width: 976px;
    }

    .artists-loader {
      .loader {
        position: absolute;
        right: 638px;
      }
    }
  }
}
