:root {
  /* Dark theme (default) */
  --bg-main: #060307;
  --card-bg: #0d0b10;
  --text-main: #fff;
  --text-secondary: #d1d5db;
  --bg-hero: #23132b;
  --linear-gradient20: rgba(6, 3, 7, 0.7);
  --linear-gradient40: rgba(6, 3, 7, 0.3);
  --linear-gradient100: rgba(6, 3, 7, 0);
  --primary: #2563eb;
  --primary-hover: #1d4ed8;
  --loader-bg: rgba(0, 0, 0, 0.5);
  --artists-modal-ovr: #1e1c1f;
  --border-color: #27272a;
  --bg-selected: rgba(255, 255, 255, 0.1);
  --genre-chip: rgba(255, 255, 255, 0.2);
  --albums-tracker: rgba(255, 255, 255, 0.05);
  --track-list: #ccc;
  --scrollbar-thumb: #444;
  --btn-bg: var(--primary);
  --btn-text: #fff;
  --icon-footer: #fbfafc;
  --arrow-bg: #0d0b10;
  --star: #764191;
  --fa-star: #ffffff;
  --logo-footer: #764191;
  --filters-border: rgba(255, 255, 255, 0.2);


  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

[data-theme='light'] {
  --bg-main: #f9fafb;
  --card-bg: #fff;
  --text-main: #1f2937;
  --text-secondary: #4b5563;
  --bg-hero: #dcecd4;
  --linear-gradient20: rgba(249, 250, 251, 0.7);
  --linear-gradient40: rgba(249, 250, 251, 0.3);
  --linear-gradient100: rgba(249, 250, 251, 0);
  --primary: #2563eb;
  --primary-hover: #1d4ed8;
  --loader-bg: rgba(255, 255, 255, 0.5);
  --artists-modal-ovr: #e1e3e0;
  --border-color: #e5e7eb;
  --bg-selected: rgba(0, 0, 0, 0.1);
  --genre-chip: rgba(0, 0, 0, 0.2);
  --btn-bg: var(--primary);
  --albums-tracker: rgba(0, 0, 0, 0.05);
  --track-list: #333333;
  --scrollbar-thumb: #333333;
  --btn-text: #fff;
  --icon-footer: #0d0b10;
  --arrow-bg: #62c71f;
  --fa-star: rgb(194, 192, 192);
  --star: #62c71f;
  --logo-footer: #62c71f;
  --filters-border: rgba(0, 0, 0, 0.2);
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  min-width: 100vw;
  min-height: 100vh;
  margin: 0;
  font-family: 'IBM Plex Sans', sans-serif;
  background-color: var(--bg-main);
  color: var(--text-main);
  transition:
    background-color 0.4s ease,
    color 0.4s ease,
    fill 0.4s ease;
}

main {
  flex-grow: 1;
}

main:has(.back-link) {
  text-align: center;
}

@font-face {
  font-family: 'Epilogue';
  src: url('../assets/fonts/Epilogue/Epilogue-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: 'Epilogue';
  src: url('../assets/fonts/Epilogue/Epilogue-Italic-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: italic;
}

@font-face {
  font-family: 'IBM Plex Sans';
  src: url('../assets/fonts/IBM_Plex_Sans/IBMPlexSans-VariableFont_wdth-wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: 'IBM Plex Sans';
  src: url('../assets/fonts/IBM_Plex_Sans/IBMPlexSans-Italic-VariableFont_wdth-wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url('../assets/fonts/Roboto/Roboto-VariableFont_wdth-wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../assets/fonts/Roboto/Roboto-Italic-VariableFont_wdth-wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: italic;
}