.modal {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal.active {
  display: flex;
}
.modal__backdrop {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
}
.modal__panel {
  background: #111;
  color: #fff;
  padding: 2rem;
  border-radius: 10px;
  width: 400px;
  position: relative;
}

.modal__close {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  background: transparent;
  font-size: 1.2rem;
  cursor: pointer;
  color: #fff;
}

.form__group {
  margin-bottom: 1rem;
}

input,
textarea {
  width: 100%;
  padding: 0.5rem;
  border-radius: 5px;
  border: none;
  margin-top: 0.3rem;
}

.fb-modal-btn,
.btn-leave-fb {
  display: inline-block;
  padding: 0.6rem 1.2rem;
  background: #764191;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  box-shadow:
    0 1px 2px 0 rgba(6, 3, 7, 0.05),
    inset 0 -2px 1px 0 rgba(0, 0, 0, 0.2),
    inset 0 0 0 1px rgba(6, 3, 7, 0.15),
    inset 0 2px 1px 0 rgba(255, 255, 255, 0.25),
    inset 0 32px 24px 0 rgba(255, 255, 255, 0.05);
}
