.footer {
  padding: 48px 0;
  background-color: var(--bg-main);
  min-width: 320px;
  transition: background-color 0.4s ease;
}

.ul-anchors {
  display: flex;
  flex-direction: column;
  max-width: 288px;
  margin: 0 auto;

  align-items: center;
  gap: 32px;
  margin-bottom: 48px;
}
.logo-icon-footer {
  display: flex;
  margin: 0 auto;
  fill: var(--logo-footer);
  margin-bottom: 32px;
  width: 116px;
  height: 45px;
  transition: fill 0.4s ease;
}

.icon-footer {
  fill: var(--icon-footer);
  width: 40px;
  height: 40px;

  transition:
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 0.4s ease;

  &:hover,
  &:focus,
  &:active {
    opacity: 0.6;
  }
}

.ul-icons-footer {
  display: flex;
  flex-direction: row;
  max-width: 184px;
  gap: 32px;
  margin: 0 auto;
  margin-bottom: 32px;
}

.a-footer {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 600;
  font-size: 16px;

  /* line-height: 24px; */
  line-height: 150%;
  color: var(--text-main);
  transition: 200ms ease-in;
}

.a-footer:hover,
.a-footer:focus {
  color: var(--link);
}

.p-allrights {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;

  /* line-height: 24px; */
  line-height: 150%;
  color: var(--text-main);
  text-align: center;
}

@media (min-width: 768px) {
  .footer {
    padding: 80px 0;
  }
  .ul-anchors {
    flex-direction: row;
    max-width: 493px;
    justify-content: center;
  }

  .con-footer > div {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  .con-footer > div > div:first-child {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .con-footer > div > div:last-child {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .p-allrights {
    margin: 0;
    text-align: left;
  }

  .ul-icons-footer {
    margin: 0;
  }
}

@media (max-width: 767px) {
  .ul-icons-footer {
    order: 1;
  }

  .p-allrights {
    order: 2;
    margin-top: 16px;
    text-align: center;
  }

  .con-footer > div > div:last-child {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
