.footer {
  padding: 48px 0;
  background-color: #060307;
  min-width: 320px;
}

.ul-anchors{
  display: flex;
  flex-direction: column;
  max-width: 288px;
  margin: 0 auto;
  /* background-color: #3f4344; */
  align-items: center;
  gap: 32px;
  margin-bottom: 48px;
}
.logo-icon-footer{
  display: flex;
  margin: 0 auto;
  fill: #764191;
  margin-bottom: 32px;
}

.icon-footer{
  fill: #fbfafc;
  width: 40px;
  height: 40px;
}

.ul-icons-footer{
  display: flex;
  flex-direction: row;
  max-width: 184px;
  gap: 32px;
  margin: 0 auto;
  margin-bottom: 32px;
}

.a-footer{
  font-family: "IBM Plex Sans", sans-serif;
font-weight: 600;
font-size: 16px;

/* line-height: 24px; */ 
line-height: 150%;
color: #fff;
}

.p-allrights{
  font-family: "IBM Plex Sans", sans-serif;
font-weight: 400;
font-size: 16px;

/* line-height: 24px; */ 
line-height: 150%;
color: #fff;
text-align: center;
}

@media (min-width: 768px){
  
  .footer{
    padding: 80px 0;
  }
  .ul-anchors{
    flex-direction: row;
    max-width: 493px;
    justify-content: center;
  }

.con-footer > div {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  .con-footer> div > div:first-child {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .con-footer > div > div:last-child {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .p-allrights {
    margin: 0;
    text-align: left;
  }

  .ul-icons-footer {
    margin: 0;
  }


}

@media (max-width: 767px) {
  .ul-icons-footer {
    order: 1;
  }

  .p-allrights {
    order: 2;
    margin-top: 16px;
    text-align: center;
  }

  .con-footer > div > div:last-child {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}



.footer-desc {
  text-align: center;
}
.footer-link {
  position: relative;
}
.footer-link::before {
  content: '';
  position: absolute;
  bottom: 6%;
  left: 50%;
  transform: translateX(-50%) skewX(-12deg);
  z-index: -1;
  width: 110%;
  height: 24%;
  background-color: #41d1ff;
  transition: 200ms ease;
}
