body.lock {
  overflow: hidden;
}

.header {
  min-width: 320px;
  padding: 10.5px 0;
  background: #060307;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1001;
  /* border-bottom: 1.5px solid rgba(255, 255, 255, 0.07);
  box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.45); */
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-logo {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.nav-list {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 40px;
  list-style: none;
  padding: 0;
  margin: 0;
  display: none;
}
/* перемикач теми початок */
.theme-toggle {
  all: unset;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.icon-theme {
  width: 24px;
  height: 24px;
  transition:
    transform 0.4s ease,
    opacity 0.2s ease;
}

.icon-theme:hover .sun {
  opacity: 1;
}

.icon-theme:hover .moon {
  opacity: 1;
}

.sun {
  fill: #facc15;
  stroke: #facc15;
  transition: opacity 0.4s ease;
  opacity: 0.6;
}

.moon {
  fill: #e2e8f0;
  transform: scale(0);
  transition:
    transform 0.4s ease,
    opacity 0.4s ease;
  opacity: 0.6;
}

[data-theme='dark'] .sun {
  opacity: 0;
  display: none;
}

[data-theme='dark'] .moon {
  transform: scale(1);
}

/* перемикач теми кінець */

.nav-link {
  position: relative;
  display: block;
  font-weight: 500;
  letter-spacing: 0.02em;
  transition: 200ms ease-in;
  color: #fff;
  text-decoration: none;
}

.nav-link:hover,
.nav-link:focus {
  color: #747bff;
}

.burger-menu,
.burger-menu-icon {
  background-color: transparent;
}

.burger-menu {
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
  outline: none;
}

.us-burger {
  fill: #fff;
  background-color: transparent;
  padding: 24px;
}

.logo-icon {
  fill: #fff;
  width: 119px;
  height: 51px;
}

/* Мобільне меню початок */
@media screen and (max-width: 767px) {
  .theme-toggle-hide {
    display: none;
  }
  .icon-theme-m {
    width: 20px;
    height: 20px;
  }
}

.mobile-menu {
  position: fixed;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100vh;
  background: #060307;
  box-shadow: -2px 0 8px rgba(0, 0, 0, 0.2);
  transition: right 0.3s ease-in-out;
  z-index: 1001;
}

.button-close {
  fill: #fff;
  background-color: transparent;
}

.mobile-menu.active {
  right: 0;
}

/* Overlay */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease;
  z-index: 1000;
}

.overlay.active {
  opacity: 1;
  visibility: visible;
}

.logo-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0px;
}

.mobile-menu-container {
  display: flex;
  flex-direction: column;
  gap: 39px;
}

.mobile-menu-close {
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
  cursor: pointer;
}

.nav-list-m {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.nav-link-m {
  font-weight: 500;
  font-size: 26px;
  line-height: 1.5;
  color: #fff;
}
/* Мобільне меню кінець */

@media screen and (min-width: 768px) {
  .container-my {
    padding: 0 64px;
  }

  .burger-menu {
    display: none;
  }

  .nav-list {
    display: flex;
    gap: 32px;
  }

  .nav-link {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    color: #fff;
  }
}
@media screen and (min-width: 1440px) {
  .container-my {
    padding: 0 64px;
  }

  .header {
    padding: 10.5px 0;
  }
}
