.section-hero {
  position: relative;
  background: var(--bg-hero);
  min-width: 320px;
  transition: background-color 0.4s ease;
}

.section-hero .container {
  padding: 64px 16px 0 16px;
  position: relative;
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  .section-hero .container {
    padding: 32px 32px 0 32px;
  }
}

@media screen and (min-width: 1440px) {
  .section-hero .container {
    display: flex;
    padding: 0 64px 0 64px;
  }
}

.hero-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  z-index: 2;
}

@media screen and (min-width: 1440px) {
  .hero-content {
    height: 900px;
    width: 1312px;
  }
}

.section-hero::before,
.section-hero::after {
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  pointer-events: none;
  z-index: 3;
  transition: all 0.4s ease;
}

.section-hero::before {
  top: 0;
  height: 125px;
  background: linear-gradient(
    180deg,
    var(--bg-main) 0%,
    var(--linear-gradient20) 20%,
    var(--linear-gradient40) 40%,
    var(--linear-gradient100) 100%
  );
  z-index: 1;
}

.section-hero::after {
  bottom: 0;
  height: 137px;
  background: linear-gradient(
    0deg,
    var(--bg-main) 0%,
    var(--linear-gradient20) 20%,
    var(--linear-gradient40) 40%,
    var(--linear-gradient100) 100%
  );
}

.hero-title {
  font-family: 'Epilogue', sans-serif;
  font-weight: 700;
  font-size: 48px;
  line-height: 1.1;
  letter-spacing: -0.01em;
  margin-bottom: 20px;
  position: relative;
  z-index: 4;
}

@media screen and (min-width: 768px) {
  .hero-title {
    margin-bottom: 24px;
    width: 624px;
    height: 106px;
  }
}

@media screen and (min-width: 1440px) {
  .hero-title {
    width: 640px;
    height: 276px;
    font-size: 84px;
  }
}

.hero-subtitle {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 24px;
}

@media screen and (min-width: 768px) {
  .hero-subtitle {
    margin-bottom: 32px;
    width: 624px;
    height: 90px;
    font-size: 20px;
  }
}

@media screen and (min-width: 1440px) {
  .hero-subtitle {
    width: 640px;
    height: 90px;
  }
}

.hero-link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  border-radius: 12px;
  padding: 10px 24px;
  width: 100%;
  height: 47px;
  box-shadow:
    0 1px 2px 0 rgba(6, 3, 7, 0.05),
    inset 0 -2px 1px 0 rgba(0, 0, 0, 0.2),
    inset 0 0 0 1px rgba(6, 3, 7, 0.15),
    inset 0 2px 1px 0 rgba(255, 255, 255, 0.25),
    inset 0 32px 24px 0 rgba(255, 255, 255, 0.05);
  background: var(--star);
  font-weight: 500;
  font-size: 18px;
  line-height: 1.5;
  transition: opacity 0.2s ease-in-out;
  margin-bottom: 449px;
  transition: background-color 2s ease;
}

@media screen and (min-width: 768px) {
  .hero-link {
    width: 246px;
    height: 47px;
    font-size: 20px;
    margin-bottom: 664px;
  }
}

@media screen and (min-width: 1440px) {
  .hero-link {
    width: 206px;
    height: 47px;
    font-size: 18px;
    margin-bottom: 0;
  }
}

.hero-link:hover {
  opacity: 0.6;
}

.hero-link-icon {
  height: 24px;
}

.hero-link-svg {
  fill: currentColor;
}

.hero-content::after {
  background-image: url('/img/hero/mob/hero@1x.webp');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 385px;
  aspect-ratio: 280 / 385;
  position: absolute;
  content: '';
  bottom: 0;
  z-index: 1;
}

@media screen and (min-resolution: 192dpi) {
  .hero-content::after {
    background-image: url('/img/hero/mob/hero@2x.webp');
  }
}

@media screen and (min-width: 768px) {
  .hero-content::after {
    background-image: url('/img/hero/tablet/hero@1x.webp');
    aspect-ratio: 704 / 632;
    min-height: 632px;
  }
}

@media screen and (min-width: 768px) and (min-resolution: 192dpi) {
  .hero-content::after {
    background-image: url('/img/hero/tablet/hero@2x.webp');
  }
}

@media screen and (min-width: 1440px) {
  .hero-content::after {
    background-image: url('/img/hero/desktop/hero@1x.webp');
    min-height: 900px;
    width: 674px;
    right: 0;
    z-index: 6;
  }
  .section-hero::before {
    z-index: 5;
  }
}

@media screen and (min-width: 1440px) and (min-resolution: 192dpi) {
  .hero-content::after {
    background-image: url('/img/hero/desktop/hero@2x.webp');
  }
}
